%p{id: 'notice'}= notice

%h1 All Our Zoos

%table
  %thead
    %tr
      %th Name
      %th{colspan: 3}

  %tbody
    - @zoos.each do |zoo|
      %tr
        %td
          %a{href: zoo_path(zoo)}
            .zoo-name= zoo_name(zoo)
.button-spacer

%a{href: new_zoo_path}
  %button Add Another Zoo
