%p#notice= notice

%h1 All Our Zoos

%table

  %tbody
    - @zoos.each do |zoo|
      %tr
        %td
          %a{href: zoo_path(zoo)}
            .zoo-name.inline= zoo_name(zoo)

          .unique-species-count.inline= "(#{zoo.unique_species_count} species)"
.button-spacer

%a{href: new_zoo_path}
  %button Add Another Zoo
